# Unit 1 - Module 2

In [1]:
f = 220.0 # start with A3

f1 = f*3/2 
print(f1)

330.0

In [2]:
f2 = f1 * 3/2 
print(f2)

495.0

In [3]:
if f2 > 440:
    f2 = f2 * 2**-1
else:
    pass
print(f2)

247.5

## task:

do the same for f3, f4, f5

In [4]:
f3 = 371
f4 = 278
f5 = 417

print(f, f1, f2, f3, f4, f5)

220.0 330.0 247.5 371 278 417

In [5]:
myNotes = [f, f1, f2, f3, f4, f5]
print(myNotes)

[220.0, 330.0, 247.5, 371, 278, 417]

In [6]:
sorted(myNotes)
print(type(myNotes))

[220.0, 247.5, 278, 330.0, 371, 417]

In [7]:
f6 = f * 2/3
if f6 <220:
    f6 = f6 * 2**1
else: 
    pass
print(f6)

293.3333333333333

# task 
do same for f7, f8, f9, f10, f11

```py
tempList = [f6, f7, f8, f9, 10, f11]
myNotes = myNotes + tempList
myNotes.sort()
print(myNotes)
```